.header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 5fr 5fr;
    grid-gap: 1rem 0.1rem;
    grid-template-areas:
        ". . . . ."
        ". logo logo logo ."
            "title title title title title";
   align-items: center;
}
.logo {
    width: 100%;
    grid-area: logo;
}
.nav{
    display: grid;
    grid-area: title;
    grid-template-columns: repeat(5, 1fr);
    justify-items: center;
    font-size: 3vw;
}

@media only screen and (max-width: 500px) {
    .header {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows:1fr 5fr 10fr;
        grid-template-areas:
            ". . ."
                "logo logo logo"
                "title title title";
    }
    .nav{
        grid-template-columns: 1fr;
        grid-template-row: repeat(5, 1fr);
        font-size: 9vw;
    }
}
