.container {
    display: grid;
    grid-template-columns: 2fr 5fr;
    grid-gap: 1rem 0.1rem;
    grid-template-areas: "nav main";
    align-items: center;
}

.leftNav {
    grid-area: nav;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    background: #414a4f;
}